1. Identify regions in Africa
Construct a query that selects only the regions falling within Africa. Use the LIKE operator to identify records where the Region contains Africa

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:673gezmigel@localhost:3306/united_nations

'Connected: root@united_nations'

In [4]:
%%sql

SELECT *
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the full list

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

2. Classify SADC countries
Use a CASE statement to classify whether an African country belongs to SADC, or does not belong to SADC. In other words, if the country_name is one of the names we specified as an SADC country (in the table above), it should be classified as SADC. Otherwise, it must be classified as Not Classified.

The query should return three columns:

- An alias, Regional_economic_community, that contains the results of the CASE statement
- Country_name
- Pct_managed_drinking_water_services

In [5]:
%%sql

SELECT
	CASE
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'
		ELSE 'Not Classified'
	END AS Regional_economic_community,
    Country_name,
    Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the entire result set

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

3. Classify UMA and ECOWAS countries
Add to the CASE statement to include classifications for the UMA and ECOWAS RECS. Classify the countries based on the table above.

In [6]:
%%sql

SELECT
	CASE
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'

		WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'

        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea',
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'

		ELSE 'Not Classified'
	END AS Regional_economic_community,
	Country_name,
	Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the entire result set

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

# 4. Calculate the minimum, average, and maximum percentages of managed drinking water services for each REC.
Use the MIN(), AVG(), and MAX() aggregate functions on the Pct_managed_drinking_water_services column to obtain the minimum, average, and maximum percentages of managed drinking water services for each REC

Make sure to group the results by the REC using the GROUP BY clause to specify how the data should be grouped for the aggregate calculations.

In [7]:
%%sql

SELECT
	CASE
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'

		WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'

        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea',
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'

		ELSE 'Not Classified'
	END AS Regional_economic_community,
	MIN(Pct_managed_drinking_water_services) as Min_pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) as Avg_pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) as Max_pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
GROUP BY CASE
			WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'

			WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'

			WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea',
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'
		ELSE 'Not Classified'
	END;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]