In [1]:
%load_ext sql

In [4]:
%sql mysql+pymysql://root:673gezmigel@localhost:3306/united_nations

'Connected: root@united_nations'

In [6]:
%%sql
SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

# Exercise
We want to determine the following:

- What is the GDP per year for each country?
- What are the rounded-off values of the Est_gdp_in_billions column?
- What is the logarithm of GDP for each country over the time period?
- What is the square root of GDP for each country over the time period?

In [14]:
%%sql
# What is the GDP per year for each country?
Select Country_name,
    Time_period,
    Est_gdp_in_billions
FROM Access_to_Basic_Services

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

In [18]:
%%sql
SELECT
	Country_name,
    Time_period,
    ROUND(Est_gdp_in_billions) AS Rounded_Est_gdp_in_billions,
    log(Est_gdp_in_billions) AS Log_Est_gdp_in_billions,
    SQRT(Est_gdp_in_billions) AS SQRT_est_gdp_in_billions

FROM
	Access_to_basic_services

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]