In [1]:
# prepare SQL environment
%load_ext sql

<h3>Client-server architecture</h3>

In [2]:
# Mysql connection string
# %sql mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}
# !pip install SQLAlchemy==1.4.4

In [6]:
%sql mysql+pymysql://root:673gezmigel@localhost:3306/united_nations

'Connected: root@united_nations'

In [13]:
%%sql

SELECT *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

In [14]:
%%sql

SELECT *
FROM
    Access_to_Basic_Services
LIMIT 100;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

In [15]:
%%sql

SELECT *
FROM
    Access_to_Basic_Services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

# Unique country names
Extract a list of unique country names in the database

In [16]:
%%sql

SELECT DISTINCT
    Country_name
FROM
    united_nations.Access_to_Basic_Services
    LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

create a new table called Country_list and save the unique country names into this table

In [17]:
%%sql

CREATE TABLE Country_list(Country VARCHAR(255));
INSERT INTO Country_list(Country)
SELECT DISTINCT
    Country_name
FROM
    united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
(pymysql.err.OperationalError) (1050, "Table 'country_list' already exists")
[SQL: CREATE TABLE Country_list(Country VARCHAR(255));]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

# 3. Selecting specific fields
Select the country_name,<br> 
time_period, and pct_managed_drinking_water_services <br> 
fields from the Access_to_Basic_Services table.

In [18]:
%%sql

SELECT
    country_name,
    time_period,
    pct_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

Rename the pct_managed_drinking_water_services field <br>to pct_access_to_water in your query results.

In [19]:
%%sql

SELECT
    country_name,
    time_period,
    pct_managed_drinking_water_services AS pct_access_to_water
FROM
    united_nations.Access_to_Basic_Services
LIMIT 20

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

# 4. Filtering and sorting data
Modify your query to only display data for the year 2020.

In [20]:
%%sql

SELECT
    country_name,
    time_period,
    pct_managed_drinking_water_services AS pct_access_to_water
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Time_period = 2020
LIMIT 100;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]