In [1]:
%load_ext sql

In [4]:
%sql mysql+pymysql://root:673gezmigel@localhost:3306/united_nations

'Connected: root@united_nations'

In [6]:
%%sql
SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

# Exercise
We want to determine the following:

- What is the GDP per year for each country?
- What are the rounded-off values of the Est_gdp_in_billions column?
- What is the logarithm of GDP for each country over the time period?
- What is the square root of GDP for each country over the time period?

In [12]:
# What is the GDP per year for each country?
%%sql
SELECT
	Country_name,
    Time_period
FROM
	Access_to_basic_services

IndentationError: unindent does not match any outer indentation level (<string>, line 5)