In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql mysql+pymysql://root:673gezmigel@localhost:3306/united_nations

'Connected: root@united_nations'

In [3]:
%%sql
# Task 1: Select the data required for the analysis¶
SELECT
	Sub_region,
    Country_name,
    Land_area
FROM united_nations.Access_to_Basic_Services
WHERE Time_period = 2020
AND Land_area IS NOT NULL;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

In [4]:
%%sql
# Task 2: Calculate the land area covered as a percentage of the country's subregion
SELECT
    Sub_region,
    Country_name,
    Land_area,
    ROUND(Land_area/SUM(Land_area) OVER (PARTITION BY sub_region)*100,4) AS pct_sub_region_land_area
FROM united_nations.access_to_basic_services
    WHERE time_period = 2020
    AND Land_area IS NOT NULL;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

In [5]:
%%sql
# Task 3: Calculate The running population average for each country's subregion¶
SELECT
    Sub_region,
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Est_population_in_millions,
    ROUND(AVG(Est_population_in_millions) OVER (PARTITION BY Sub_region ORDER BY Time_period),4) AS Running_average_population
FROM united_nations.access_to_basic_services
    WHERE Est_gdp_in_billions IS NOT NULL;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

3b. Make the custom IDs consistent
For the length requirement, we use the SUBSTRING function.

NOTE: A neat trick to fetch the last 7 digits of Est_population_in_millions with SUBSTRING is by using negative indexing. The very last index of a string can be represented by -1 when using negative indexing. Therefore, the seventh to last index will be -7. Since we are utilising everything after the 7th to last index, we won't have to specify the substring length.

In [9]:
%%sql

SELECT
	DISTINCT Country_name,
	Time_period,
	Est_population_in_millions,
	CONCAT(
		SUBSTRING(IFNULL(UPPER(Country_name), 'UNKNOWN'),1,4),
		SUBSTRING(IFNULL(Time_period, 'UNKNOWN'),1,4),
		SUBSTRING(IFNULL(Est_population_in_millions, 'UNKNOWN'),-7)
	) AS Country_id
FROM
	united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]